<!DOCTYPE html> 
<html> 
<head> 
	<title><%= configatron.site_name %></title>
	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<%=  stylesheet_link_tag 'jquery.mobile.min', 'jqm-docs', 'default' %>
	<%=  javascript_include_tag :defaults,"jquery.mobile.min","jqm-docs"%>
	
</head> 
<body>
	<%= yield %>
</body>
</html>

